os: linux
language: cpp
compiler: gcc

stage:
  - build Release
    
jobs:
  include:
    
    # LINUX BUILD
    - stage: build Release
      name: "Linux Build Release"
      os: linux
      before_install:
        - mkdir solace && wget -q https://products.solace.com/download/C_API_LINUX64 && tar xvf C_API_LINUX64 -C ./solace --strip-components=1;
        - export SOLACE_API_DIR=$TRAVIS_BUILD_DIR/solace/
      install:
        - cd build && cmake ..
      script:
        - make install VERBOSE=1
      before_deploy:
        - tar -zcvf kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz kdbsolace
      deploy:
        provider: releases
        api_key:
          secure: M85g7GXAfsnpDRcvJISHcR3hw+ThqrTTBY8v/T37LdpBoZ7mq9PZmC1pl+MfvZlVwU2M44O4h7er0k0OrZv2kxKcfLd9PmS5Qx1xwe1mv6sU7/9EZyx5LSGgmiUWlrBrtijbROLsk0TwMEMYuX8s2Nq+xZtI8q9Bg09Smg4QQnzpwYsyWhVxdbumhYaEshJ4jIWHkpRTVR4hFcPqaINLvuUD2Je5IccV/lne1aQvqYoNhFNuvEV85LhcnwZeE9CmFA6vARry9nneOU/lRiISjhAR48ZCDqQSNZ36XT7u3aAWkAcRpjIu9P9cJ15E2A4ilV9/6hF8LVUPcY3KHEsury7VGI/h2z2gStr7c34ZScyRohxl+xY2O4TiElatXKLgJSCLvL38Wvl4QlbxV7J7l8wJRTBhln8oPIuU70vQcg5ayBVONhCFIIGsK9GeowUQJR6kXgWBtFEnVXz71FLbuP24KiaT3/fXGA40v0x9H1EeteqheC1su7rPkesOzmyG0Xl3YOsgoPBrmTXUytuwnH4nV+uWB8Sxl7fGqilonKvXaADJehOxMOupRl163Vmkhahd+bHjmhD4lNTe2yAxTJmB2Ce4DhxUszYbnlhRlrry4kzuno/MZ3VA30O4zE+JQS4XYDmls/8SVKGai+8Z55D/KOGt7wVoZj5Fm904Umw=
        file: kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz
        on:
          tags: true
        skip_cleanup: 'true'

    # WINDOWS (VISUAL STUDIO 2017) BUILD
    - stage: build Release
      name: "Windows MVS 2017 Build Release"
      os: windows
      before_install:
        - mkdir solace && wget -q https://products.solace.com/download/C_API_WIN64 && tar xvf C_API_WIN64 -C ./solace --strip-components=1;
        - export SOLACE_API_DIR=$TRAVIS_BUILD_DIR/solace/
      install:
        - cd build
        - wget -q https://github.com/KxSystems/kdb/raw/master/w64/q.lib
        - cmake -G "Visual Studio 15 2017 Win64" ..
      script:
        - export MSBUILD_PATH="/c/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/MSBuild/15.0/Bin/"
        - export PATH=$PATH:$MSBUILD_PATH
        - MSBuild.exe INSTALL.vcxproj //m //nologo //verbosity:normal //p:Configuration=Release //p:Platform=x64
      before_deploy:
        - tar -zcvf kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz kdbsolace
      deploy:
        provider: releases
        api_key:
          secure: M85g7GXAfsnpDRcvJISHcR3hw+ThqrTTBY8v/T37LdpBoZ7mq9PZmC1pl+MfvZlVwU2M44O4h7er0k0OrZv2kxKcfLd9PmS5Qx1xwe1mv6sU7/9EZyx5LSGgmiUWlrBrtijbROLsk0TwMEMYuX8s2Nq+xZtI8q9Bg09Smg4QQnzpwYsyWhVxdbumhYaEshJ4jIWHkpRTVR4hFcPqaINLvuUD2Je5IccV/lne1aQvqYoNhFNuvEV85LhcnwZeE9CmFA6vARry9nneOU/lRiISjhAR48ZCDqQSNZ36XT7u3aAWkAcRpjIu9P9cJ15E2A4ilV9/6hF8LVUPcY3KHEsury7VGI/h2z2gStr7c34ZScyRohxl+xY2O4TiElatXKLgJSCLvL38Wvl4QlbxV7J7l8wJRTBhln8oPIuU70vQcg5ayBVONhCFIIGsK9GeowUQJR6kXgWBtFEnVXz71FLbuP24KiaT3/fXGA40v0x9H1EeteqheC1su7rPkesOzmyG0Xl3YOsgoPBrmTXUytuwnH4nV+uWB8Sxl7fGqilonKvXaADJehOxMOupRl163Vmkhahd+bHjmhD4lNTe2yAxTJmB2Ce4DhxUszYbnlhRlrry4kzuno/MZ3VA30O4zE+JQS4XYDmls/8SVKGai+8Z55D/KOGt7wVoZj5Fm904Umw=
        file: kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz
        on:
          tags: true
        skip_cleanup: 'true'
