os: linux
language: cpp
compiler: gcc


env:
  global:
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    #   via the "travis encrypt" command using the project repo's public key
    - secure: "dv7fBwqF9Vt916NhyQBbls00FzWvl0c/u/dEcrSq24RZahG6MkvwYKsloHfid+2c2cHVAectW/u+gAPrJWlS6KBdcGLdPk3uQX2ZPqNvw/XJFb93G7yrCfKZhTwo/XahZjnWFYrFgx7fRZ1nU8YvKcAp7VJYIwK+zacTSEoqQVm4ZtEbwDrnCSd2ttucxGpgRBBMmZWmlBANcek/yzZub/KOrEKmJs2GyQf324e9KGpLUWZPEkSyovNfI4SrQD7TuKQMdCgzL5WC7J1UeL96dNsprLmVKBA1ZjHVdWmMOnfKYE+iF7RxqNpE0t9W/fjk9DGxYM5OHCSW3tc83caSmEU9zgtsL+NaNb+yCyixHW3Ja9fLKWlEQv/XHwqmvsOatgw9ilfh9mWkZbJzWamOMiNHE/naJA3A7wwM8D1ENMQmAagwRAur5xcXUYmIUnX3T/Dy/luWl/uIyFtkVt/RgVSM+optRoGYoN49mZFppvgeGgWV2BrAyuCURWuXibtGu1FQmjZVy7cRyArECTk4VU3iRih1jHxMBjveRNzMATtTzje/iG3cKdMBde1WlZ820cJs/Boj5SO+KisrohGS/cDx9VnMSljIUlreodg9oedLstVdOZV/N0WnNYV4/vZQwjgW9sqplyZDUBts26O1yfdTkHkWECBcHvDx1jbgrYs="

stage:
  - build Release
  - coverity scan

jobs:
  include:

    # COVERITY SCAN
    - stage: coverity scan
      if: branch = coverity_scan
      name: "Linux Coverity Scan"
      os: linux
      addons:
        coverity_scan:
          project:
              name: "sshanks-kx/solacetest"
              description: "Test Solace Client for KDB+"
          notification_email: sshanks@kx.com
          build_command_prepend: "cov-configure --gcc"
          build_command: "make VERBOSE=1"
          branch_pattern: coverity_scan
      before_install:
        - echo -n | openssl s_client -connect https://scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-
        - mkdir solace && wget -q https://products.solace.com/download/C_API_LINUX64 && tar xvf C_API_LINUX64 -C ./solace --strip-components=1;
        - export SOLACE_API_DIR=$TRAVIS_BUILD_DIR/solace/
      before_script:
        - cmake .
      script:
        # do nothing, script needed otherwise the default is to run configure;make

    # LINUX BUILD
    - stage: build Release
      if: branch != coverity_scan
      name: "Linux Build Release"
      os: linux
      before_install:
        - mkdir solace && wget -q https://products.solace.com/download/C_API_LINUX64 && tar xvf C_API_LINUX64 -C ./solace --strip-components=1;
        - export SOLACE_API_DIR=$TRAVIS_BUILD_DIR/solace/
      install:
        - cd build && cmake ..
      script:
        - make install VERBOSE=1
      before_deploy:
        - tar -zcvf kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz kdbsolace
      deploy:
        provider: releases
        api_key:
          secure: cD47sIqAeCqGHHQcP/XPPtk9BUkWUspmpm/xUxVOkQsIgacwEI2uJEV1PQX9lIabpVF0xcHaOzu/niSIvZdj9Av0MgN9bLGOkfYUgb9YmF+fvwutq9zcT/GHu3P+3c592HUs5Kqsb3ZIWVQh0WvDJfH57JH15z2YQN9yY6V3ZocVQg6cvOAoFzMIKBWSQkFkJjIYvBsvmRFqB5BCbrGv/qDceZmcNxHdgIsPXhYKznsI4LQSsenGhQycd5gRry0O6UMrTlyT1XQykxMl5kUpAOnwZ2Yx1OKUBW/tdmCClnfrnJAIOncItmg9DBKPhRg0yBJJ84ccL7X38Mi0B3RJnSMOQKchPuSYZljcRxEPDCbMJGP6/SxxfVUzOY2qXm/p0p4vfXfdy37yTB1F+hCOfWWmYJSFa/xxUnScHJdhf4rmD5kli4Jy6tD0oTyrYTx0UNRuacwvqWOEsOAZalEkYbBmT+PqORYfiLQef98lXpqPb70deFEnS6Kh8k4TBeZK8QktGJLDenHKWHz1q+Zrtft/vnIzYAtF5vcXqcjDuULKfCQ0yr5yg3P15L8nQV6RXhkjYmIM7/NgY1TZGpjRglksdQEDzmoOMEYkEJypHHxFF3h8ssY5BeVOK7mDrnUfdlnUFiUztibAF6oyX7wUw50vs9UmV14OkRX3HO5z860=
        file: kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz
        on:
          tags: true
        skip_cleanup: 'true'

    # OSX BUILD
    - stage: build Release
      if: branch != coverity_scan
      name: "MacOS Build Release"
      os: osx
      before_install:
        - mkdir solace && wget -q https://products.solace.com/download/C_API_OSX && tar xvf C_API_OSX -C ./solace --strip-components=1;
        - export SOLACE_API_DIR=$TRAVIS_BUILD_DIR/solace/
      install:
        - cd build && cmake ..
      script:
        - make install VERBOSE=1
      before_deploy:
        - tar -zcvf kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz kdbsolace
      deploy:
        provider: releases
        api_key:
          secure: cD47sIqAeCqGHHQcP/XPPtk9BUkWUspmpm/xUxVOkQsIgacwEI2uJEV1PQX9lIabpVF0xcHaOzu/niSIvZdj9Av0MgN9bLGOkfYUgb9YmF+fvwutq9zcT/GHu3P+3c592HUs5Kqsb3ZIWVQh0WvDJfH57JH15z2YQN9yY6V3ZocVQg6cvOAoFzMIKBWSQkFkJjIYvBsvmRFqB5BCbrGv/qDceZmcNxHdgIsPXhYKznsI4LQSsenGhQycd5gRry0O6UMrTlyT1XQykxMl5kUpAOnwZ2Yx1OKUBW/tdmCClnfrnJAIOncItmg9DBKPhRg0yBJJ84ccL7X38Mi0B3RJnSMOQKchPuSYZljcRxEPDCbMJGP6/SxxfVUzOY2qXm/p0p4vfXfdy37yTB1F+hCOfWWmYJSFa/xxUnScHJdhf4rmD5kli4Jy6tD0oTyrYTx0UNRuacwvqWOEsOAZalEkYbBmT+PqORYfiLQef98lXpqPb70deFEnS6Kh8k4TBeZK8QktGJLDenHKWHz1q+Zrtft/vnIzYAtF5vcXqcjDuULKfCQ0yr5yg3P15L8nQV6RXhkjYmIM7/NgY1TZGpjRglksdQEDzmoOMEYkEJypHHxFF3h8ssY5BeVOK7mDrnUfdlnUFiUztibAF6oyX7wUw50vs9UmV14OkRX3HO5z860=
        file: kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz
        on:
          tags: true
        skip_cleanup: 'true'

    # WINDOWS (VISUAL STUDIO 2017) BUILD
    - stage: build Release
      if: branch != coverity_scan
      name: "Windows MVS 2017 Build Release"
      os: windows
      before_install:
        - mkdir solace && wget -q https://products.solace.com/download/C_API_WIN64 && tar xvf C_API_WIN64 -C ./solace --strip-components=1;
        - export SOLACE_API_DIR=$TRAVIS_BUILD_DIR/solace/
      install:
        - cd build
        - wget -q https://github.com/KxSystems/kdb/raw/master/w64/q.lib
        - cmake -G "Visual Studio 15 2017 Win64" ..
      script:
        - export MSBUILD_PATH="/c/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/MSBuild/15.0/Bin/"
        - export PATH=$PATH:$MSBUILD_PATH
        - MSBuild.exe INSTALL.vcxproj //m //nologo //verbosity:normal //p:Configuration=Release //p:Platform=x64
      before_deploy:
        - tar -zcvf kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz kdbsolace
      deploy:
        provider: releases
        api_key:
          secure: cD47sIqAeCqGHHQcP/XPPtk9BUkWUspmpm/xUxVOkQsIgacwEI2uJEV1PQX9lIabpVF0xcHaOzu/niSIvZdj9Av0MgN9bLGOkfYUgb9YmF+fvwutq9zcT/GHu3P+3c592HUs5Kqsb3ZIWVQh0WvDJfH57JH15z2YQN9yY6V3ZocVQg6cvOAoFzMIKBWSQkFkJjIYvBsvmRFqB5BCbrGv/qDceZmcNxHdgIsPXhYKznsI4LQSsenGhQycd5gRry0O6UMrTlyT1XQykxMl5kUpAOnwZ2Yx1OKUBW/tdmCClnfrnJAIOncItmg9DBKPhRg0yBJJ84ccL7X38Mi0B3RJnSMOQKchPuSYZljcRxEPDCbMJGP6/SxxfVUzOY2qXm/p0p4vfXfdy37yTB1F+hCOfWWmYJSFa/xxUnScHJdhf4rmD5kli4Jy6tD0oTyrYTx0UNRuacwvqWOEsOAZalEkYbBmT+PqORYfiLQef98lXpqPb70deFEnS6Kh8k4TBeZK8QktGJLDenHKWHz1q+Zrtft/vnIzYAtF5vcXqcjDuULKfCQ0yr5yg3P15L8nQV6RXhkjYmIM7/NgY1TZGpjRglksdQEDzmoOMEYkEJypHHxFF3h8ssY5BeVOK7mDrnUfdlnUFiUztibAF6oyX7wUw50vs9UmV14OkRX3HO5z860=
        file: kdbsolace-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.gz
        on:
          tags: true
        skip_cleanup: 'true'
